Source: stdlogger
Section: admin
Priority: optional
Maintainer: Eduard Snesarev <verm666@gmail.com>
Build-Depends: debhelper (>= 7), cdbs
Standards-Version: 3.8.4
Homepage: https://github.com/verm666/stdlogger
Vcs-Browser: https://github.com/verm666/stdlogger

Package: stdlogger
Architecture: any
Section: admin
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Stdlogger
